{% extends 'base_nav.html' %}

{% block title %}Posts{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container-posts">
            
        <div class="container-posts_title">

        
        <h3>Postagens dos irmãos:</h3>
        <a href="{% url 'create_post' %}" class="new-post_link btn btn-bg">Escreva um novo post </a>
        
        </div>
        {% for post in posts %}
        <div class="card">
            <div class="card-header post-header">
              <h5>Post de: <span>{{post.get_username}}</span></h5>
              <span>{{post.created}}</span>
              <div>
              {% if user.username == post.get_username %}
                <a href="{% url 'update_post' post.id %}" class="btn btn-warning">Update post</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">X</a>
              {% endif %}
              </div>
            </div>
            <div class="card-body post-content">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body_post}}</p>
              {% if post.image %}
                  <img src="{{ post.image.url }}" alt="">
              {% endif %}
              
            </div>
            
        </div>
        {% endfor %}

        {% if posts.has_other_pages %}
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% else %}
    <h3>Para ver o post dos membros, se conecte com a gente: <a href="{% url 'register' %}">Clique aqui!</a></h3>
{% endif %}
    
{% endblock %}
