{% extends 'base_nav.html' %}

{% block title %}Sobre{% endblock %}
{% block content %}

    <div>
        <div>
            <h1>
                Conheça um pouco sobre nós:
            </h1>
            <div class="about-content">
                <p>A Igreja da Paz, uma instituição sólida com mais de duas décadas de história, tem sido um farol de esperança e fé para a comunidade local ao longo dos anos. Fundada em 1999 por um grupo dedicado de fiéis, a igreja cresceu em tamanho e influência, tocando a vida de inúmeras pessoas por meio de seus serviços religiosos, programas sociais e eventos comunitários.</p>
                <p>
                  Ao alcançar a marca dos vinte anos, a igreja decidiu embarcar em um novo capítulo emocionante de sua jornada espiritual. Com uma visão ousada e guiada por uma forte convicção de expandir seu impacto, a congregação decidiu construir um novo templo em um local estratégico. Esse novo espaço não apenas acomodará o crescente número de membros, mas também servirá como um espaço mais amplo e moderno para a realização de uma variedade de atividades e iniciativas voltadas para a comunidade.
                </p>
                <p>
                  A construção do novo templo não é apenas um empreendimento físico, mas também um testemunho do comprometimento da igreja com a missão de espalhar amor, compaixão e esperança. O processo de construção está sendo acompanhado por celebrações e eventos especiais, unindo ainda mais os membros da congregação em torno desse projeto comum.
                </p>
                <p>
                  À medida que os alicerces são lançados e as paredes começam a se erguer, a comunidade está cheia de expectativas e antecipa com entusiasmo a inauguração do novo templo. Este marco não apenas simboliza o crescimento físico da igreja, mas também representa a contínua expansão de sua influência espiritual na vida das pessoas e na comunidade em que está inserida. A Igreja da Paz está determinada a ser um farol de esperança por muitos anos vindouros, guiando aqueles que buscam um propósito mais profundo e uma conexão espiritual significativa.
                </p>
        
              </div>
        </div>
    </div>

{% endblock %}