{% extends 'base_nav.html' %}

{% block content %}

    <div class="container">
            
        <span class="new-post_link">Escreva um novo post <a href="">aqui!</a></span>
        
        
        <h3>Postagens dos irmãos:</h3>
        <div class="card">
            <div class="card-header">
              Victor:
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            
        </div>
        <div class="card">
            <div class="card-header">
              Fulano de tal:
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            
          </div>
    </div>
{% endblock %}