*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../img/bg-body2.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.btn:hover {
    background-color: #211859;
    color: #fff;
    border: none;
}

ul {
    list-style: none;
}

.container {
    padding: 2em;
    background: #8660de68;
}

.nav-content {
    background-color: #00002d;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5em;
}

.navbar-brand img{
    width: 50px;
    height: 50px;
}

.navbar-nav a {
    color: #fff;
    font-size: 20px;
}

.navbar-nav a:hover {
    background-color: #8560de;
    border-radius: 15px;
    color: #211859;
    transition: ease-out;
}

.dropdown-menu {
    background-color: #00002d;
}

/** LOGIN **/

.login {
    padding: 3em 10em;
    text-align: center;
    border: solid rgba(#000, .2);
}

.login h2 {
    margin-bottom: 1.5em;
}

.login label{
    padding-bottom: 0.5em;
}

.login input {
    margin: 0 auto;
    width: 20em;
    font-size: 1.2em;
}

.update-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.update-content_item{
    margin: 15px 0;
    font-size: 20px;
    background-color: #8660de1e;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    padding: 10px;
}

.update-content_item input[type="checkbox"] {
    position: relative;
}

.update-content_item textarea {
    height: 100px;
}
/*  POSTS  */

.container-posts_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h5 {
    font-size: 1.3em;
    font-weight: 300;
}

.card-header h5 span{
    color: #00d2ddd5;
}

.card {
    margin-bottom: 2em;
}

.post-content img {
    width: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
}

/* home */

.carousel-item img {
    width: 100%;
    height: 500px;
}
