*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../img/bg-body.jpg");
    background-repeat: repeat;
    background-position: center;
}

ul {
    list-style: none;
}

.container {
    padding: 2em;
    background: #fff;
}

.nav-content {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5em;
}

/** LOGIN **/

.login {
    padding: 3em 10em;
    text-align: center;
    border: solid rgba(#000, .2);
}

.login h2 {
    margin-bottom: 1.5em;
}

.login label{
    padding-bottom: 0.5em;
}

.login input {
    margin: 0 auto;
    width: 20em;
    font-size: 1.2em;
}

/*  POSTS  */

.container-posts_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.card-header h5 {
    font-size: 1.3em;
    font-weight: 300;
}

.card-header h5 span{
    color: #00d2ddd5;
}

.card {
    margin-bottom: 2em;
}

.post-content img {
    width: 50%;
}